raclette
/bin/*
/trace-agent
/trace-agent-windows-386.exe
/trace-agent-windows-amd64.exe
/info/git_version.go
generator
*.swp
*.exe
*.syso
python/raclette.egg-info
sniffing/packetbeat_raclette*
db.sqlite3
*.pyc
venv/*
stats/stats
tracegen/tracegen
agent/agent
*.coverage
prof*
*test

/cmd/trace-agent/windows_resources/trace-agent-msg.rc
/cmd/trace-agent/windows_resources/*.bin
# file generated at build time by message compiler
trace-agent-msg.h
