<!doctype html>
<html>
<head>
    <title>Traces</title>
    <link rel="stylesheet" type="text/css" href="/css/sortable-theme-bootstrap.css">
</head>
<body>
    <h3>{{ traces | length }} traces in our backend</h3>

    <table class="sortable-theme-bootstrap" data-sortable>
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Duration (microsec)</th>
            <th>Type</th>
            <th>Service</th>
            <th>Resource</th>
            <th>Trace ID</th>
            <th>Query</th>
        </tr>
        </thead>
        <tbody>
        {% for trace in traces: %}
        <tr>
            <td>{{ trace.start_dt }}</td>
            <td>{{ trace.duration_micros }}</td>
            <td>{{ trace.type }}</td>
            <td>{{ trace.service }}</td>
            <td>{{ trace.resource }}</td>
            <td><a href="/{{ trace.trace_id }}">{{ trace.trace_id }}</a></td>
            <td>{% if 'query' in trace.json_meta %}{{ trace.json_meta.query }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>

    <script src="/js/sortable.js"></script>
</body>
</html>
