#!/usr/bin/make -f

DISTRIBUTION = $(DISTRO)
TRACE_AGENT_VERSION ?= 0.99.0
PACKAGEVERSION = $(TRACE_AGENT_VERSION)-0~$(DISTRIBUTION)0
TARBALL = dd-trace-agent-$(VERSION).tar.gz
URL = https://github.com/DataDog/datadog-trace-agent

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	rake restore
	rake build
	mkdir -p debian/dd-trace-agent/etc/datadog
	mkdir -p debian/dd-trace-agent/opt/datadog-agent/bin
	mkdir -p debian/dd-trace-agent/var/log/datadog
	mv ../trace-agent debian/dd-trace-agent/opt/datadog-agent/bin
