[Unit]
Description="Datadog Tracing Agent"
After=network.target

[Service]
Type=forking
User=dd-agent
ExecStart=/opt/datadog-agent/bin/trace-agent 2>&1

[Install]
WantedBy=multi-user.target
